/* General page styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header */
header {
    width: 98vw;
    margin: auto;
    text-align: center;
    color: #333;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;

    h1 {
        background-color: #99ddff;
        padding: 1vh;
    }
}

/* Container for all text exluding header */
main {
    padding: 2vw;

    /* Container for the API data */
    .api-container {
        max-width: 800px;
        margin: auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }
}
